#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* overflow-y: scroll; */
  /* background: linear-gradient(white, rgba(27, 79, 216, 0.5), white, rgba(27, 79, 216, 0.5)); */
}

.services-header {
  width: 90%;
}

.services-header h6 {
  margin: 0px;
}

.services-header p {
  text-align: center;
  margin: 0;
}

.services-header h4 {
  text-align: center;
  font-size: 2rem;
  margin: 5px 0px 0px 0px;
}

.button button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px var(--primary-color);
  color: var(--primary-color);
}

.button button:hover {
  font-weight: 900;
}

.button button:active {
  transform: translateY(10px);
}

.button img {
  margin-right: 5px;
}

.service-display {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem 0px;
  /* background: linear-gradient( rgba(27, 79, 216, 0.5), white); */
  background: rgba(27, 79, 216, 0.2);
}

.service-display button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.service-img {
  height: 10rem;
}
.arrow-image {
  height: 2.5rem;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1rem;
  max-width: 100vh;
  overflow: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.services::-webkit-scrollbar {
  display: none;
}
.service-info {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.service-info h6 {
  text-align: left;
}
